.main {

position: relative;

&__header {
    position: fixed;
    display: block;
    width: 100%;
    transition: top 0.2s linear;
}

  &__body {
    background-color: #7c5656;
    padding: 0 80px;
  }
}
