
.showMedia {
    // gap: 20px;
    // padding: 40px;
    // margin-left: 40px;

    .card {
        background-color: rgb(244, 247, 240);
        border: 1px solid #e3e3e3;
        border-radius: 5px;
     

        &-img {
            img {
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                // width: 100%;
                width: 178px;
                // border-radius: none;
            }
        }

        &-content {
            padding: 26px 10px 12px 10px;
            position: relative;
    
            &__rate {
                position: absolute;
                top: -19px;
                width: 38px;
                height: 38px;
                padding: 6px;
                background-color: rgb(55, 5, 142);
                border: 2px solid rgb(4, 212, 94);
                border-radius: 50%;
                color: aliceblue;
            }

            h2 {
                font-size: 1em;
                margin: 0;
                width: 100%;
                word-wrap: normal;
                overflow-wrap: break-word;

                a {
                    color: #000;
                    text-decoration: none;
                }
            }

            p {
                font-size: 1em;
                margin: 0;
                padding: 0;
                color: rgba(0, 0, 0, 0.6);
            }
        }
    }
}