.genresBox {
    &__btn {
        // background-color: darkkhaki;
        display: inline-flex;
        border: 1px solid #9e9e9e;
        border-radius: 14px;
        padding: 4px 12px;
        font-size: 0.9em;
        margin-right: 6px;
        margin-top: 8px;
        will-change: background-color;
        transition: 0.4s cubic-bezier(0.19, 1, 0.22, 1);
    }

    &__selected {
        background-color: rgb(60, 60, 249);
    }
}