.header {
    background-color: rgb(19, 45, 124);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    // position: fixed;
}

// display: flex;
// justify-content: center;
// align-items: center;
// position: fixed;
// top: 0;
// left: 0;
// background-color: rgba(var(--tmdbDarkBlue), 1);
// height: 64px;
// width: 100%;
// z-index: 10;
// transition: top 0.2s linear;